# --- Настройки базы данных Supabase (ОБЯЗАТЕЛЬНО) ---
# Возьми их в настройках твоего проекта Supabase -> Project Settings -> API
VITE_SUPABASE_URL=твоя_ссылка
VITE_SUPABASE_ANON_KEY=твой_ключ
VITE_BOT_USERNAME=emedeoesimworld_bot

# --- Секретные ключи для Vercel Serverless (если понадобятся для /api) ---
BOT_TOKEN=твой_токен_телеграм
OPENAI_API_KEY=твой_ключ_от_polza_ai
